<!DOCTYPE html>
<html>
    <head>
        <title>Launch your IPO</title>
        <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
        <link rel="stylesheet" href="/css/common/common.css">
        <link rel="stylesheet" href="/css/trade/create.css">
    </head>
    <body>
        <div id="create-wrapper">
            <h1>Launch Your IPO!</h1>
            <div id="art-choose-wrapper">
                <div id="art-placeholder-cover">
                    <div id="art-placeholder">Your Art Here!</div>
                </div>
                
                <div class="form-group">
                    <label for="formFile" class="form-label mt-4">Default file input example</label>
                    <input class="form-control" type="file" id="formFile">
                </div>
            </div>
            <div id="art-form">
                <div class="form-group">
                    <label class="form-label mt-4" for="inputDefault">Name:</label>
                    <input type="text" class="form-control" placeholder="Mona Lisa" id="inputDefault">
                    <label class="form-label mt-4" for="inputDefault">Category:</label>
                    <input type="text" class="form-control" placeholder="Classical" id="inputDefault">
                    <label class="form-label mt-4" for="inputDefault">Ticker / Symbol:</label>
                    <input type="text" class="form-control" placeholder="MSLA" id="inputDefault">
                    <label for="exampleTextarea" class="form-label mt-4">Description</label>
                    <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Story behind the art / how it was made or what makes it special"></textarea>
                    <label class="form-label mt-4">IPO Price:</label>

                    <div class="input-group mb-3">
                        <span class="input-group-text">$</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                        <span class="input-group-text">.00</span>
                    </div>
                  
                </div>
                
            </div>
        </div>
    </body>
</html>