<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/about.css">
        <title> Green Flamingo</title>
    </head>
    <body>
        <!-- header -->
        <header class="header" id="header">
            <nav class="nav container">
                <a href="/about" class="nav_logo hyperlinks">Green Flamingo</a>

                <div class="vl"></div>

                <div class="top_nav">
                    <ul class="nav_list">
                        <li>
                            <a href="/trade" class="nav_link">Trade</a>
                        </li>
                        <li>
                            <a href="/create" class="nav_link">Sell</a>
                        </li>
                        <li>
                            <a href="/about" class="nav_link topnav_active">About Us</a>
                        </li>
                    </ul>
                </div>

                <div class="login-register">
                    <a href="/login" class="login">Login</a>
                    <a href="/register" class="register">Signup</a>
                </div>
            </nav>
        </header>

        <!-- main -->
        <main class="main">
            <!-- home -->
            <section class="home section" id="home">
                <div class="home_content container grid">
                    <div class="hero_text">
                        <h1 class="home_title">The Future of the Art Market</h1>
                        <p class="home_description">A platform that democratizes artwork for artists and buyers so more artwork are priced at the value they're truly worth, and artists get the recgnition they deserve.</p>
                    </div>
                    <img src="../static/img/art_stock_graph.png" alt="" class="home_graph">
                </div>
            </section>

            <!-- problem -->
            <section class="problem section">
                <span class="section_title">Problem</span>
                <div class="problem_container">
                    <img src="../static/img/pie_chart.png" alt="" class="problem_img">
                    <div class="problem_text">
                        <h1 class="problem_title">
                            Private auction style dominated art market has:
                        </h1>
                        <div class="problem_description">
                            <ula>
                                <li>High barriers to entry for the average consumer <u>and</u> artist</li>
                                <li>Lack of public information</li>
                                <li>Less potential for artists and buyers to understand and be part of market</li>
                                <li><a href="https://www-sciencedirect-com.dartmouth.idm.oclc.org/science/article/pii/S0165176513003157" class="hyperlinks">Learn more here</a></li>
                            </ula>
                            <br>
                            <p>
                                The art market has <a href="https://www.artsy.net/article/artsy-editorial-5-galleries-explain-opportunities-selling-online" class="hyperlinks">high online market potential</a> (see chart)
                            </p>
                        </div>
                    </div>
                </div>

            </section>


        </main>

        <!-- footer -->
        <footer class="footer">
            <div class="footer_container container">
                <h2 class="footer_title">Green Flamingo. The future of selling art.</h2>
                <span class="footer_resources">
                    <h3 class="footer_r_title">Resources</h3>
                    <p>
                        Professor Chad Elias, Dartmouth College<br>
                        Olav Veluthius, <i>Talking Prices</i><br>
                        Narayan, Seema, and Russell Smyth. “The Financial Econometrics of Price Discovery and Predictability.” <i>International review of financial analysis</i> 42 (2015): 380-393. Web.<br>
                        Jensen, Robert. “The Rise and Fall and Rise Again of the Contemporary Art Market.” <i>Journal of cultural economics</i> (2022): n. pag. Web.<br>
                        David, Géraldine, Kim Oosterlinck, and Ariane Szafarz. “Art Market Inefficiency.” <i>Economics letters</i> 121.1 (2013): 23-25. Web. Whitaker, Amy. Economics of Visual Art: <i>Market Practice and Market Resistance.</i> Cambridge: Cambridge University Press, 2021. Print.<br>
                        Professor Jonathan Zinman, Dartmouth College<br>
                        Professor Meir Kohn, “Money, Banking, and Financial Institutions and Markets”<br>
                        Bodie, et al., “Investments”<br>
                        Mishkin et al., “The Economics of Money, Banking, and Financial Markets”<br>
                    </p>
                </span>

                <span class="footer_copy">
                    <p>
                        &copy; 2022 Green Flamingo. All rights reserved.
                    </p>
                </span>
            </div>
        </footer>
    </body>
</html>