<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/about.css">
        <title> About Us | Green Flamingo</title>
    </head>
    <body>
        <!-- header -->
        <header class="header" id="header">
            <nav class="nav container">
                <a href="/about" class="nav_logo">Green Flamingo</a>

                <div class="vl"></div>

                <div class="top_nav">
                    <ul class="nav_list">
                        <li>
                            <a href="/trade" class="nav_link">Trade</a>
                        </li>
                        <li>
                            <a href="/create" class="nav_link">Sell</a>
                        </li>
                        <li>
                            <a href="/about" class="nav_link topnav_active">About Us</a>
                        </li>
                    </ul>
                </div>

                <div class="login-register">
                    <a href="/login" class="login">Login</a>
                    <a href="/register" class="register">Signup</a>
                </div>
            </nav>
        </header>

        <!-- main -->
        <main class="main">

        </main>

    </body>
</html>