<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/api/css/index.css">

        <link rel="shortcut icon" href="/api/misc/green-flamingo-logo.png" type="image/x-icon">
        <title> Green Flamingo</title>
    </head>
    <body>
        <!-- header -->
        <header class="header" id="header">
            <nav class="nav container">
                <a href="/" class="nav_logo hyperlinks">Green Flamingo</a>

                <div class="vl"></div>

                <div class="top_nav">
                    <ula class="nav_list">
                        <li>
                            <a href="/trade" class="nav_link">Trade</a>
                        </li>
                        <li>
                            <a href="/create" class="nav_link">Sell</a>
                        </li>
                        <li>
                            <a href="/" class="nav_link topnav_active">About Us</a>
                        </li>
                    </ula>
                </div>

                <div class="login-register">
                    <a href="https://green-flamingo.ngrok.io/trade" class="register">Class Demo</a>
                </div>
            </nav>
        </header>

        <!-- main -->
        <main class="main">
            <!-- home -->
            <section class="home section" id="home">
                <div class="home_content container grid">
                    <div class="hero_text">
                        <h1 class="home_title">The Future of the Art Market</h1>
                        <p class="home_description">A platform that democratizes artwork for artists and buyers so more artworks are priced at the value they're truly worth, and artists get the recgnition they deserve.</p>
                    </div>
                    <img src="/api/misc/art_stock_graph.png" alt="" class="home_graph">
                </div>
            </section>

            <!-- problem -->
            <section class="problem section">
                <span class="problem_s_title"><i>-problem-</i></span>
                <div class="problem_container container grid">
                    <img src="/api/misc/pie_chart.png" alt="" class="problem_img">
                    <div class="problem_text">
                        <h1 class="problem_title">
                            Only 5.3% of art is sold through public channels that provide price discovery
                        </h1>
                        <div class="problem_description">
                            <ul>
                                <li>94.7% of art sales are through <b>private channels</b> like galleries, dealer-style, and internal transactions that:</li>
                                    <ul>
                                        <li class="indent">have high barriers of entry for the average consumer and artist</li>
                                        <li class="indent">lack public transaction information</li>
                                        <li class="indent">and results in a <b>lack of</b> price discovery, thus creating less potential for artists and buyers to understand and be part of the market</li>
                                    </ul>
                                <li><a href="https://www-sciencedirect-com.dartmouth.idm.oclc.org/science/article/pii/S0165176513003157" class="hyperlinks">Learn more about art market inefficiencies here</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <!-- introducing green flamingo -->
            <section class="features section">
                <span class="problem_s_title"><i>-introducing green flamingo-</i></span>
                <div class="features_container container grid">
                    <!-- GF verified -->
                    <div class="feature">
                        <img src="/api/misc/gf-verified.png" alt="" class="feature_img">
                        <h1 class="feature_title"><i>GF</i> Verified</h1>
                        <p class="feature_description">
                            Every artwork is sold through our proprietary multi-step verification process with our team of expert authenticators.
                        </p>
                    </div>

                    <!-- Transparent Pricing -->
                    <div class="feature">
                        <img src="/api/misc/transparent-pricing.png" alt="" class="feature_img">
                        <h1 class="feature_title">Transparent Pricing</h1>
                        <p class="feature_description">
                            Our real-time marketplace works just like the stock market - allowing you to buy and sell the most coveted artworks at their true market value price. 
                            <br>Learn more about <a href="https://www.artsy.net/article/artsy-editorial-change-language-price-transparency-art-market" class="hyperlinks">price transparency in the art market</a> and the <a href="https://news.artnet.com/market/price-transparency-art-market-1915145" class="hyperlinks">emerging embracement of it</a>.
                        </p>
                    </div>

                    <!-- Global Access -->
                    <div class="feature">
                        <img src="/api/misc/globe_icon.png" alt="" class="feature_img">
                        <h1 class="feature_title">Global Access</h1>
                        <p class="feature_description">
                            Millions of artists and buyers from all around the world, allowing you to easily buy artworks from anywhere and everywhere.
                        </p>
                    </div>

                    <!-- Public Bid / Ask Spread -->
                    <div class="feature">
                        <img src="/api/misc/bid-ask.png" alt="" class="feature_img">
                        <h1 class="feature_title">Public Bid / Ask Spread</h1>
                        <p class="feature_description">
                            Our order book matches bids and asks in real time for better mark-to-market valuation.
                            <a href="https://corporatefinanceinstitute.com/resources/wealth-management/order-book/" class="hyperlinks">Learn more about order books here.</a>
                        </p>
                    </div>

                    <!-- Valuation Assistance -->
                    <div class="feature">
                        <img src="/api/misc/valuation.png" alt="" class="feature_img">
                        <h1 class="feature_title">Valuation Assistance</h1>
                        <p class="feature_description">
                            We provide an algorithm based on AI with image recognition and additional parameters (e.g., material and comparison to similar artworks) to help artists determine the Initial Price Offering of their artwork on our platform, and to help buyers determine the fair market value of the artwork they are interested in.
                        </p>
                    </div>

                    <!-- Buy / Sell Orders -->
                    <div class="feature">
                        <img src="/api/misc/buy-sell.png" alt="" class="feature_img">
                        <h1 class="feature_title">Buy / Sell Orders</h1>
                        <p class="feature_description">
                            Our buy / sell feature allows for secure, trustless transactions between anonymous users, allowing you to buy and sell artworks without the need for a physical middleman.
                        </p>
                    </div>
                </div>
            </section>

            <!-- how it works -->
            <section class="functions section">
                <span class="problem_s_title"><i>-how it works-</i></span>
                <br><br><br><br>
                <div class="function_container container grid">
                    <img src="/api/misc/functions_diagram.png" alt="" class="function_img">
                </div>
            </section>

        </main>

        <!-- footer -->
        <footer class="footer">
            <div class="footer_container container">
                <h2 class="footer_title">Green Flamingo. The future of selling art.</h2>
                <span class="footer_resources">
                    <h3 class="footer_r_title">Resources</h3>
                    <p>
                        Professor Jonathan Zinman, Dartmouth College<br>
                        Professor Chad Elias, Dartmouth College<br>
                        Velthuis, Olav. <i>Talking Prices: Symbolic Meanings of Prices on the Market for Contemporary Art.</i> Princeton University Press, 2013.<br>
                        Narayan, Seema, and Russell Smyth. “The Financial Econometrics of Price Discovery and Predictability.” <i>International review of financial analysis</i> 42 (2015): 380-393. Web.<br>
                        Jensen, Robert. “The Rise and Fall and Rise Again of the Contemporary Art Market.” <i>Journal of cultural economics</i> (2022): n. pag. Web.<br>
                        David, Géraldine, Kim Oosterlinck, and Ariane Szafarz. “Art Market Inefficiency.” <i>Economics letters</i> 121.1 (2013): 23-25. Web. Whitaker, Amy. Economics of Visual Art: <i>Market Practice and Market Resistance.</i> Cambridge: Cambridge University Press, 2021. Print.<br>
                        Kohn, Meir G. <i>Financial Institutions and Markets.</i> Oxford University Press, 2013.<br>
                        Bodie, Zvi, et al. <i>Investments.</i> McGraw Hill, 2008.<br>
                        Mishkin, Frederic S., et al. <i>The Economics of Money, Banking, and Financial Markets.</i> Pearson, 2022.<br>
                    </p>
                </span>

                <span class="footer_copy">
                    <p>
                        &copy; 2022 Green Flamingo. All rights reserved.
                    </p>
                </span>
            </div>
        </footer>
    </body>
</html>