<!DOCTYPE html>
<html>
    <head>
        <title>Welcome</title>
        <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
        <link rel="stylesheet" href="/api/css/common.css">
        <link rel="stylesheet" href="/api/css/auth.css">
    </head>
    <body>
        <div id="auth-form-wrapper">
            <h1 id="auth-header">Welcome</h1>
            <div class="form-group">
                <div class="form-floating mb-3">
                  <input id="username" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                  <label for="floatingInput">Username:</label>
                </div>
              </div>
              <button type="submit" class="btn btn-primary submit-button" id="login-submit-button">Start Trading!</button>
              <div id="alerts"></div>
        </div>
        
        <div id="register-submit-button"></div>
        <script src="/api/js/alert.js"></script>
        <script src="/api/js/auth.js"></script>
    </body>
</html>